@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,body{
  margin: 0;
    padding: 0;
    font-size: calc(0.6vh + 0.45vw + 5px);
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-overflow: ellipsis;
    text-decoration: inherit;
    font-family: 'Poppins', sans-serif;

    /* color: white; */
    /* cursor: url(../public/images/logo.png), auto; */
}

:root{
  --orange-color: #ff7705;
  --purple-color: #b00ff0;
  --white:#fff;
  /* --white:#241e38; */
  --bg-gradient:linear-gradient(33deg,
        var(--orange-color),
        var(--purple-color));
      ;
  --gray: rgb(247, 247, 247);
  /* --gray: #151221; */
  --blue: rgb(2, 36, 71);
  --bgFixed: hsla(120, 100%, 1%, 0.423);
  --color-gray: #c0afc0;
  --card-translate-z: 10rem;
}

*::selection {
  background: var(--orange-color);
  color: var(--white);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: rgb(64, 191, 246) !important;
  border: 1px solid rgb(64, 191, 246) !important;
}

/* style de date picker */

.react-datepicker__time-list-item--selected {
  background-color: rgb(64, 191, 246) !important;
  color: var(--white) !important;
}
.react-datepicker__day:hover {
  background-color: rgb(64, 191, 246,0.25) !important;
}
.react-datepicker__time-list-item:hover {
  background-color: rgb(64, 191, 246,0.25) !important;
}



.bgText{
  color: transparent;
  background: var(--bg-gradient);
  -webkit-background-clip: text;
}
.bgText2{
  color: transparent;
  background: linear-gradient(33deg,
        #fdba74,
        rgb(50, 52, 59));
    ;
  -webkit-background-clip: text;
}
.bgGradient{
  background: linear-gradient(33deg,
      var(--orange-color),
      var(--purple-color));;
}
.bgGradient2{
  background: linear-gradient(33deg,
      #fdba74,
      rgb(50, 52, 59));;
}
.bgGradient3{
  background: linear-gradient(33deg,
      rgb(50, 52, 59),#fdba74);
}




.bgVilla1{
  background: url("../public/images/assemble.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgVilla2{
  background: url("../public/images/6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgUser{
  background: url("../public/images/bgUser.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgVilla4{
  background: url("../public/images/image\ slider.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgVilla5{
  background: url("../public/images/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.transition{
  transition: 0.5s  ease-in-out ;
}
.animHidden{
  animation: animHidden 0.5s linear;
}
@keyframes animHidden{
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/* animation rotate */

.perpective{
  perspective: 1100px;
}

.rotate{
  animation: rotate 20s  linear infinite;
}
@keyframes rotate{
  0%{

    transform: rotateY(0deg)
  }
  100%{
    transform: rotateY(360deg)
  }
}


.swips {
  flex-shrink: 1 !important;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}
