@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,body{
  margin: 0;
    padding: 0;
    font-size: calc(0.6vh + 0.45vw + 5px);
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-overflow: ellipsis;
    text-decoration: inherit;
    font-family: 'Poppins', sans-serif;

    /* color: white; */
    /* cursor: url(../public/images/logo.png), auto; */
}

:root{
  
  --bg1: rgb(33, 36, 46);
    --bg2: rgb(17, 24, 33);
    --bg3: #0000006f;
    --blue: rgb(48, 69, 185);
    --aqua: rgb(60, 183, 187);
    --pink: rgb(255, 120, 143);
    --green: rgb(48, 255, 63);
    --white: rgba(255, 255, 255);
    --white1: rgba(255, 255, 255, 0.75);
    --white2: rgba(255, 255, 255, 0.35);
    --white3: rgba(255, 255, 255, 0.15);
}

*::selection {
  background: var(--orange-color);
  color: var(--white);
}

.titreHome{
  color: transparent;
    -webkit-background-clip: text !important;
    background: linear-gradient(135deg, var(--pink), var(--aqua));
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.ajout {
  background: linear-gradient(135deg, var(--pink), var(--aqua));
  transition: 0.25s ease;
}

.ajout:hover {
  background: linear-gradient(135deg, var(--aqua), var(--pink));
}
.shadow1 {
  position: absolute;
  top: -5rem;
  left: 0rem;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 200rem 8rem var(--pink);
  z-index: 2;
}

.shadow2 {
  position: absolute;
  bottom: -5rem;
  right: 0rem;
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 200rem 8rem var(--aqua);
  z-index: 2;
}
.list {
  background: rgba(17, 24, 33, 0.75);
  backdrop-filter: blur(1px);
}
.afficheAnim {
  animation: affiche 0.25s linear;
}

@keyframes affiche {
  0% {
    left: -10%;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.input {
  border: 1px solid rgba(0, 255, 255, 0.25);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}
.index10 {
  z-index: 10;
  background: rgba(33, 36, 46, 0.75);
  backdrop-filter: blur(5px);
}
